html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', cursive;
  line height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  text-align: center;
}
.nav li {
  display: inline-block;
}
