html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  background-color: #79756f;
}

h1 {
  font-family: "Bevan", cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: .6em;
  color: #fff;
}

.nav {
  font-family: sans-serif;
  text-align: center;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

.nav a {
  margin: .3em;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #f33;
}
