html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', cursive;
  line height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  text-align: center;
  margin: 0;
  padding: .6em;
  border-style: solid;
  border-color: #595652;
  background-color: #79756f;
  color: #fff;
}

.nav {
  font-family: sans-serif;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

.nav a {
  margin: .3em;
  padding: .5em .75em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #f33;
}
